<!doctype html>

<html>
<head>

<style>
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#final {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


</style>

</head>

<body>
<form action="/set_video" method="post" id="video">
    <h3>Write video path</h3>
    <input type="text" name="video_path">
    <input type='submit' value='Send' id="final">
</form>
</body>
</html>